# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [48]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [30]:
called = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv', sep=',')
called.head(50)

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
1,2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2,2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
3,2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
4,2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
5,2011-12-14,-5912,-4220.0,-1692,747.0,5547,4686.0,861,382.0
6,2011-12-21,-4573,-2690.0,-1882,170.0,2536,1347.0,1189,-1866.0
7,2011-12-28,-5216,-3988.0,-1229,389.0,2211,1234.0,977,-2616.0
8,2012-12-05,-7180,-5858.0,-1321,-71.0,5157,4084.0,1074,-2093.0
9,2012-12-12,-8479,-7233.0,-1246,119.0,1787,1576.0,211,-6572.0
10,2012-12-19,-4996,-5284.0,289,-20.0,427,3690.0,-3263,-4590.0
11,2012-12-26,-3274,-3637.0,363,757.0,2457,3141.0,-685,-61.0
12,2013-12-04,2055,-1050.0,3106,957.0,-3181,-1874.0,-1307,-168.0
13,2013-12-11,-1203,-4525.0,3322,864.0,-6874,-4299.0,-2575,-7213.0
14,2013-12-18,-1269,-4254.0,2985,441.0,-8090,-5568.0,-2522,-8917.0
15,2013-12-23,2466,952.0,1514,827.0,-3464,-2064.0,-1400,-172.0
16,2013-12-31,6003,3315.0,2688,1091.0,-2851,-404.0,-2447,4243.0
17,2014-12-03,-2661,-2952.0,291,-678.0,171,-670.0,841,-3168.0
18,2014-12-10,-3238,-4938.0,1700,-1696.0,-3289,-4394.0,1105,-8223.0
19,2014-12-17,-7131,-4687.0,-2444,-2357.0,-9311,-10261.0,950,-18799.0
20,2014-12-22,-2431,-1060.0,-1371,-808.0,-2993,-3322.0,329,-6232.0
21,2014-12-30,-1550,-1487.0,-63,-602.0,1022,-367.0,1389,-1130.0
22,2015-12-02,-8849,-7966.0,-883,-1224.0,-1029,-1952.0,923,-11102.0
23,2015-12-09,-6319,-5265.0,-1054,-2289.0,-6489,-7307.0,818,-15097.0
24,2015-12-16,-11213,-7582.0,-3631,-5602.0,-11997,-12644.0,647,-28812.0
25,2015-12-22,-3916,-1378.0,-2538,-1606.0,-4559,-5821.0,1262,-10081.0
26,2015-12-30,-6040,-2925.0,-3115,-1753.0,-4604,-6847.0,2243,-12397.0
27,2017-01-04,-12703,-10964.0,-1739,-1963.0,758,2971.0,-2213,-13908.0
28,2017-01-11,622,-174.0,797,-943.0,6723,5136.0,1587,6403.0
29,2017-01-18,-1292,-1237.0,-56,-123.0,5378,4267.0,1111,3963.0
30,2017-01-25,-2775,-3987.0,1212,-592.0,2124,1496.0,628,-1243.0
31,2017-12-06,-7420,-9282.0,1862,-2189.0,4351,4903.0,-552,-5258.0
32,2017-12-13,-13583,-13281.0,-302,-1487.0,3503,3612.0,-110,-11567.0
33,2017-12-20,-12025,-12883.0,858,-2207.0,753,954.0,-201,-13479.0
34,2017-12-27,-2094,-3119.0,1025,-1010.0,2568,3021.0,-454,-536.0
35,2019-01-02,-14471,-6208.0,-8263,-5443.0,-17506,-17264.0,-242,-37421.0
36,2019-01-09,6892,5629.0,1263,-114.0,-3726,-5454.0,1728,3053.0
37,2019-01-16,4382,1750.0,2632,19.0,6190,4231.0,1959,10590.0
38,2019-01-23,3111,1125.0,1986,386.0,7008,5479.0,1529,10505.0
39,2019-01-30,183,-924.0,1107,-513.0,6850,4684.0,2166,6521.0
40,2019-12-04,-10343,-10939.0,596,-756.0,8729,6989.0,1739,-2370.0
41,2019-12-11,-17686,-15411.0,-2275,-1813.0,8275,6199.0,2076,-11224.0
42,2019-12-18,-16592,-11852.0,-4740,-1819.0,7017,4807.0,2210,-11394.0
43,2019-12-24,-7832,-6379.0,-1453,-700.0,8605,6218.0,2387,74.0
44,2019-12-31,-5844,-5621.0,-223,-121.0,5865,4597.0,1268,-100.0
45,2020-12-02,-23041,-8336.0,-14705,-150.0,18481,17101.0,1380,-4711.0
46,2020-12-09,-7886,-5763.0,-2123,-542.0,10479,8621.0,1859,2051.0
47,2020-12-16,-20968,-15231.0,-5737,-1680.0,6138,4349.0,1789,-16511.0
48,2020-12-22,-6499,-4658.0,-1841,-1425.0,14083,12417.0,1666,6158.0
49,2020-12-29,-8224,-6399.0,-1825,825.0,11242,8293.0,2949,3843.0

### Step 4.  What is the frequency of the dataset?

In [16]:
#weekly

### Step 5. Set the column Date as the index.

In [31]:
called = called.set_index('Date')
called

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
...,...,...,...,...,...,...,...,...
2024-12-04,27170,NaN,22014,NaN,22510,NaN,-496,NaN
2024-12-11,36551,NaN,28883,NaN,29251,NaN,-368,NaN
2024-12-18,23053,NaN,27124,NaN,20767,NaN,6358,NaN
2024-12-24,35211,NaN,36142,NaN,32529,NaN,3613,NaN
2024-12-31,26027,NaN,21578,NaN,19932,NaN,1646,NaN

### Step 6. What is the type of the index?

In [32]:
called.index.dtype

dtype('O')

### Step 7. Set the index to a DatetimeIndex type

In [33]:
called.index = pd.to_datetime(called.index)
called.index.dtype

dtype('<M8[ns]')

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [41]:
monthly = called.resample('ME').sum()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2011-12-31,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-01-31,0,0.0,0,0.0,0,0.0,0,0.0
2012-02-29,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...
2024-08-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-09-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-10-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-12-31,148012,0.0,135741,0.0,124989,0.0,10753,0.0

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [56]:
monthly = monthly.replace(0, np.nan)
monthly_cleaned = monthly.dropna()
monthly_cleaned

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387.0,-16805.0,-1582.0,3188.0,8688.0,6841.0,1849.0,-6510.0
2011-12-31,-23657.0,-16659.0,-6999.0,2395.0,13817.0,9335.0,4483.0,-7443.0
2012-12-31,-23929.0,-22012.0,-1915.0,785.0,9828.0,12491.0,-2663.0,-13316.0
2013-12-31,8052.0,-5562.0,13615.0,4180.0,-24460.0,-14209.0,-10251.0,-12227.0
2014-12-31,-17011.0,-15124.0,-1887.0,-6141.0,-14400.0,-19014.0,4614.0,-37552.0
2015-12-31,-36337.0,-25116.0,-11221.0,-12474.0,-28678.0,-34571.0,5893.0,-77489.0
2017-01-31,-16148.0,-16362.0,214.0,-3621.0,14983.0,13870.0,1113.0,-4785.0
2017-12-31,-35122.0,-38565.0,3443.0,-6893.0,11175.0,12490.0,-1317.0,-30840.0
2019-01-31,97.0,1372.0,-1275.0,-5665.0,-1184.0,-8324.0,7140.0,-6752.0
2019-12-31,-58297.0,-50202.0,-8095.0,-5209.0,38491.0,28810.0,9680.0,-25014.0
2020-12-31,-66618.0,-40387.0,-26231.0,-2972.0,60423.0,50781.0,9643.0,-9170.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [57]:
monthly_cleaned.resample('YE').sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-12-31,-42044.0,-33464.0,-8581.0,5583.0,22505.0,16176.0,6332.0,-13953.0
2012-12-31,-23929.0,-22012.0,-1915.0,785.0,9828.0,12491.0,-2663.0,-13316.0
2013-12-31,8052.0,-5562.0,13615.0,4180.0,-24460.0,-14209.0,-10251.0,-12227.0
2014-12-31,-17011.0,-15124.0,-1887.0,-6141.0,-14400.0,-19014.0,4614.0,-37552.0
2015-12-31,-36337.0,-25116.0,-11221.0,-12474.0,-28678.0,-34571.0,5893.0,-77489.0
2016-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-31,-51270.0,-54927.0,3657.0,-10514.0,26158.0,26360.0,-204.0,-35625.0
2018-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-12-31,-58200.0,-48830.0,-9370.0,-10874.0,37307.0,20486.0,16820.0,-31766.0
2020-12-31,-66618.0,-40387.0,-26231.0,-2972.0,60423.0,50781.0,9643.0,-9170.0

### BONUS: Create your own question and answer it.