# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [10]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [5]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', sep=',', header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset

In [6]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris.columns = names
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [8]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [13]:
iris.loc[10:30, 'petal_length'] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [19]:
iris.petal_length.fillna(1.0)[10:30]

10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
Name: petal_length, dtype: float64

### Step 8. Now let's delete the column class

In [20]:
iris.drop('class', axis=1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### Step 9.  Set the first 3 rows as NaN

In [21]:
iris[:3] = np.nan
iris[:3]

### Step 10.  Delete the rows that have NaN

In [30]:
iris_cleaned = iris.dropna()
iris_cleaned

     sepal_length  sepal_width  petal_length  petal_width           class
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[126 rows x 5 columns]

### Step 11. Reset the index so it begins with 0 again

In [31]:
iris_cleaned.reset_index(drop=True)

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.6          3.1           1.5          0.2     Iris-setosa
1             5.0          3.6           1.4          0.2     Iris-setosa
2             5.4          3.9           1.7          0.4     Iris-setosa
3             4.6          3.4           1.4          0.3     Iris-setosa
4             5.0          3.4           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
121           6.7          3.0           5.2          2.3  Iris-virginica
122           6.3          2.5           5.0          1.9  Iris-virginica
123           6.5          3.0           5.2          2.0  Iris-virginica
124           6.2          3.4           5.4          2.3  Iris-virginica
125           5.9          3.0           5.1          1.8  Iris-virginica

[126 rows x 5 columns]

### BONUS: Create your own question and answer it.