# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [100]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t').set_index('order_id')

In [23]:
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [102]:
chipo['search_price'] = chipo.item_price.map(lambda p: p[1:]).astype('float')
new_chipo = chipo.drop_duplicates(subset=['item_name', 'quantity'])
new_chipo.loc[(new_chipo.quantity == 1) & (new_chipo.search_price > 10)].groupby('item_name').min().shape

(12, 4)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [103]:
new_chipo.loc[:, ['item_name', 'item_price']]
new_chipo.loc[(new_chipo.quantity == 1), ['item_name', 'search_price']].groupby('item_name').min().sort_values(by='search_price', ascending=False)

                                       search_price
item_name
Carnitas Salad Bowl                           11.89
Barbacoa Salad Bowl                           11.89
Steak Salad Bowl                              11.89
Steak Burrito                                 11.75
Barbacoa Crispy Tacos                         11.75
Barbacoa Bowl                                 11.75
Veggie Soft Tacos                             11.25
Veggie Salad Bowl                             11.25
Veggie Bowl                                   11.25
Veggie Burrito                                11.25
Chicken Salad                                 10.98
Chicken Bowl                                  10.98
Steak Crispy Tacos                             9.25
Steak Soft Tacos                               9.25
Carnitas Soft Tacos                            9.25
Carnitas Crispy Tacos                          9.25
Barbacoa Soft Tacos                            9.25
Carnitas Salad                                 8.99
Steak Salad                                    8.99
Steak Bowl                                     8.99
Carnitas Burrito                               8.99
Carnitas Bowl                                  8.99
Barbacoa Burrito                               8.99
Chicken Crispy Tacos                           8.75
Chicken Salad Bowl                             8.75
Chicken Soft Tacos                             8.75
Veggie Crispy Tacos                            8.49
Veggie Salad                                   8.49
Chicken Burrito                                8.49
Bowl                                           7.40
Burrito                                        7.40
Crispy Tacos                                   7.40
Salad                                          7.40
6 Pack Soft Drink                              6.49
Chips and Guacamole                            4.45
Izze                                           3.39
Nantucket Nectar                               3.39
Chips and Mild Fresh Tomato Salsa              3.00
Chips and Tomatillo Red Chili Salsa            2.95
Chips and Tomatillo Green Chili Salsa          2.95
Chips and Roasted Chili Corn Salsa             2.95
Chips and Tomatillo-Red Chili Salsa            2.39
Chips and Tomatillo-Green Chili Salsa          2.39
Chips and Roasted Chili-Corn Salsa             2.39
Chips and Fresh Tomato Salsa                   2.39
Chips                                          2.15
Side of Chips                                  1.69
Canned Soft Drink                              1.25
Canned Soda                                    1.09
Bottled Water                                  1.09

### Step 6. Sort by the name of the item

In [104]:
chipo.sort_values(by='item_name', ascending=True)

,quantity,item_name,choice_description,item_price,search_price
order_id,,,,,
1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...
948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [108]:
chipo.sort_values(by='search_price', ascending=False).head(1)

,quantity,item_name,choice_description,item_price,search_price
order_id,,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [115]:
chipo.loc[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [118]:
chipo.loc[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].order_id.co

          quantity    item_name choice_description item_price  search_price
order_id
9                2  Canned Soda           [Sprite]     $2.18           2.18
23               2  Canned Soda     [Mountain Dew]     $2.18           2.18
73               2  Canned Soda        [Diet Coke]     $2.18           2.18
76               2  Canned Soda  [Diet Dr. Pepper]     $2.18           2.18
150              2  Canned Soda        [Diet Coke]     $2.18           2.18
151              2  Canned Soda        [Coca Cola]     $2.18           2.18
287              2  Canned Soda        [Coca Cola]     $2.18           2.18
288              2  Canned Soda        [Coca Cola]     $2.18           2.18
376              2  Canned Soda     [Mountain Dew]     $2.18           2.18
450              2  Canned Soda       [Dr. Pepper]     $2.18           2.18
450              2  Canned Soda        [Coca Cola]     $2.18           2.18
787              2  Canned Soda       [Dr. Pepper]     $2.18           2.18
859              2  Canned Soda        [Diet Coke]     $2.18           2.18
901              4  Canned Soda           [Sprite]     $4.36           4.36
1156             2  Canned Soda        [Coca Cola]     $2.18           2.18
1156             2  Canned Soda           [Sprite]     $2.18           2.18
1258             2  Canned Soda       [Dr. Pepper]     $2.18           2.18
1349             2  Canned Soda        [Coca Cola]     $2.18           2.18
1440             2  Canned Soda        [Diet Coke]     $2.18           2.18
1550             2  Canned Soda     [Mountain Dew]     $2.18           2.18